/* Header Based Css  */
.header {
    border-bottom: 1px solid #e1e1e1;
    position: sticky;
    left: 0;
    z-index: 99;
    top: 0;
    background-color: #063180;
}

.inner_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.inner_header a{
    text-decoration: none;
    color: inherit;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header_logo_inner_div{
    
}
.header_logo_inner_div h4{
    margin-bottom: 2px;
    font-size: 15px;
    color: white;
}
.header_logo_inner_div h6{
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.header_logo img {
    width: 60px;
}

.header_nav {
    display: flex;
    gap: 0px;
}

.header_nav_link {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    /* color: #181717; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-inline: 13px;
    text-transform: uppercase;
    color: white !important;
}

.header_nav_link::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: 0.2s ease-in-out;
}

.header_nav_link:hover::after {
    /* background: #3558b7; */
    background: white;
}

.header_nav_link[aria-current="page"]::after {
    background: white;
}

.ham_burger_menu {
    display: none;
    border: none;
    background-color: transparent;
}

.pos_ab{
    position: absolute;
    top: 72px;
    right: 0;
}


/* Footer */

.footer_top {
    background: #222222;
    padding: 75px 0;
}

.inner_footer_top {
    margin-inline: auto;
    display: flex;
    gap: 70px;
}

.ift_box_1,
.ift_box_2,
.ift_box_3 {
    flex: 1;
}

.ift_box_1_img {
    width: 100%;
}

.ift_box_1_p {
    font-size: 17px;
    color: #dddddd;
    line-height: 28px;
}

.boxed_sub_heading {
    border: 1px solid #949494;
    color: #949494;
    text-transform: uppercase;
    padding: 8px 10px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ift_box_2_links {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.ift_box_2_links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ift_box_2_link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: 0.2s ease-in-out;
    min-height: 30px;
}

.ift_box_2_link:hover {
    color: #aaaaaa;
    font-size: 14px;
}

.footer_bottom {
    background: #333324;
    border-top: 1px solid #949485;
    padding: 25px 0;
}

.inner_footer_bottom {
    margin-inline: auto;
    color: white;
    font-size: 12px;
}


.ift_box_3_form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.ift_box_3_form input {
    border: 1px solid #444444;
    background-color: #333333;
    color: #919191;
    font-size: 17px;
    padding: 10px;
}

.ift_box_3_form textarea {
    border: 1px solid #444444;
    background-color: #333333;
    color: #919191;
    font-size: 17px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.ift_box_3_form button {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Sidebar */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 100%;
    z-index: 100;
    opacity: 0.4;
}

.sidebar {
    position: fixed;
    right: -100%;
    width: 300px;
    background: white;
    z-index: 101;
    top: 0;
    height: 100%;
    transition: 0.2s linear;
}

.sidebar.active_sidebar{
    right: 0;
}

.sidebar_icon {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.sidebar_links {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar_link:nth-child(1) {
    border-top: 1px solid #e1e1e1;
}

.sidebar_link {
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-left: 32px;
}

.db_links:hover .hidden_links{
display: flex !important;
}
.hidden_links{
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    background: #063180;
    /* background: #e7f4ff; */
}

.hidden_links > a{
    border: none !important;
}

@media screen and (max-width:1000px) {
    /* Header */

    .header {
        padding: 10px 0;
    }

    .header_nav {
        display: none;
    }

    .ham_burger_menu {
        display: flex;
    }

    .header_logo img {
        /* width: 150px; */
    }

    .pos_ab{
        top: 63px;
    }

    /* Footer */

    .footer_top {
        padding: 50px 0;
    }

    .inner_footer_top {
        flex-direction: column;
        gap: 50px;
    }

}



@media screen and (max-width:680px) {
    .footer_top {
        padding: 30px 0;
    }
}