.section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-inline: auto;
    display: grid;
    grid-template-areas:
        "one one one one one one"
        /* "two two two two two three"
        "four four four four four five" */
        "six six six six six six"
    ;
    /* grid-template-areas:
        "one one one one one one"
        "two two two two two three"
        "four four four four four five"
        "six six six six six six"
    ; */
    gap: 50px;

    @media (width<1000px) {
        grid-template-areas:
            "one"
            "six"
            /* "two"
            "three"
            "four"
            "five" */
        ;
    }
}

.box_1 {
    grid-area: one;
    width: 100%;
    /* height: 200px; */
    background: #fee7bd;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (width<1000px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width<640px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.box_2 {
    grid-area: two;
}

.box_3 {
    grid-area: three;
}

.box_4 {
    grid-area: four;
}

.box_5 {
    grid-area: five;
}

.box_6 {
    grid-area: six;
    display: grid;
    gap: 30px;
    margin-top: 30px;

    grid-template-areas:
        "i1 i1"
        "i2 i2"
        "i3 i3"
    ;

    /* @media (width<1000px){
        grid-template-areas:
        "i1 i1"
        "i2 i2"
        "i3 i3"
        ;
    } */

    > :nth-child(1) {
        grid-area: i1;
        width: 100%;
        margin-top: 0;
    }

    > :nth-child(2) {
        grid-area: i2;
        width: 100%;
        margin-top: 0;
    }

    > :nth-child(3) {
        grid-area: i3;
        margin-top: 0;
        width: 100%;
    }
}

.box_6 {}

.h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}

.p {
    color: #666666;
    font-size: 15px;
    line-height: 36px;
    margin-bottom: 20px;
}

.a {
    text-decoration: none;
    color: blue;
}

.boxed_sub_heading {
    border: 1px solid #222222;
    color: #222222;
    text-transform: uppercase;
    padding: 8px 10px;
    font-weight: 600;
    margin-bottom: 30px;
}

.box_5_form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.box_5_form input {
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    color: #919191;
    font-size: 17px;
    padding: 10px;
}

.box_5_form textarea {
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    color: #919191;
    font-size: 17px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.box_5_form button {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.box_3_links {
    display: flex;
    flex-direction: column;
}

.box_3_links>a:nth-child(1) {
    border-top: 1px solid #e3e3e3;
}

.box_3_link {
    border-bottom: 1px solid #e3e3e3;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: #646363;
    transition: 0.2s ease-in-out;
}

.box_3_link:hover {
    color: black;
}


.card {
    grid-column: span 1;
}

.card_img {
    width: 100%;
    height: 260px;
    background: rgb(206, 206, 206);
}

.card_details {
    margin-top: 10px;
}

.card_details h1 {
    font-size: 17px;
    color: black;
}

.card_details p {
    font-size: 13px;
    color: #646464;
    margin-top: 5px;
}


/* Contact Section */

.another_section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-inline: auto;
}


.nb_heading_1{
    color:#000000 !important;
}
.nb_bg_1{
    background-color:#8663a7 !important;
}

.nb_heading_2{
    color:hsl(180, 8%, 3%) !important;
}
.nb_bg_2{
    background-color:#509aa5 !important;
}
.nb_heading_3{
    color:#0f120f !important;
}
.nb_bg_3{
    background-color:#89b05f !important;
}