@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body{
  position: relative !important;
  top: 0 !important;
  z-index: 100 !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none;
}
.universal_width {
  max-width: 1230px;
}

.active::after {
  background: #3558b7;
}

.universal_h1{
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}
.universal_p {
  color: #666666;
  font-size: 15px;
  line-height: 36px;
  margin-bottom: 20px;
}

@media screen and (max-width:1230px) {
  .universal_width {
    padding-inline: 50px;
  }

}


@media screen and (max-width:680px) {
  .universal_width {
    padding-inline: 30px;
  }
}