.right_box_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    transition: 0.2s ease-in-out;
}

.right_box_form > div {
    width: 100%;
}

.right_box_form input {
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    color: #919191;
    font-size: 17px;
    padding: 10px;
    width: 100%;
}

.right_box_form textarea {
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    color: #919191;
    font-size: 17px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.right_box_form button {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.right_box_form p{
    color: red;
    font-size: 13px;
    text-align: end;
    margin-top: 5px;
}